<% provide(:title, "Sign Up") %>
<h1>Log In</h1>

<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit "Login", class: "btn btn-info" %>
    <% end %>

    <p>New user? <%= link_to "Sign Up Now!", signup_path %></p>
  </div>
</div>