<li id="micropost-<%= micropost.id %>">
	<span class="user"><%= link_to micropost.user.name, micropost.user %></span>
	<span class="content"><%= micropost.content %></span>
	<span class="timestamp"><%= time_ago_in_words(micropost.created_at) %> ago.</span>
</li>